.feedback {
    color: #333333;
}

.form {
    border-left: 4px solid silver;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Footer */
#footer-content {
    background-color: #F7F7F7;
    font-size: .80em;
    padding: 8px;
}

.page {
    margin-top: 64px;
}

#gui {
    padding-bottom: 20px;
    text-align: left;
}

/* Footer */
#footer-content {
    background-color: #F7F7F7;
    font-size: .80em;
    padding: 8px;
}

#footer-signature {
    padding-bottom: 14px;
    padding-top:14px;
    text-align: center;
}

#footer-notice {
    text-align: center;
    font-size: .80em;
}
/* END FOOTER */

.clear-both {
    clear: both;
}

h1, h2, h3, h4, h5 {
    font-size: 26px;
    font-weight: 800;
    color: #444343;
}
h2, h3, h4, h5 {
    color: #636b6f;
}
h2 {
    font-size: 23px;
    font-weight: 600;
}

h3 {
    font-size: 18px;
    font-weight: 600;
}

.page-title {
    padding-top: 40px;
    padding-bottom: 20px;
}

.page-title-text {
    font-size: 19px;
    font-weight: normal;
    color: #1d2129;
}

.page-title h1 {
    font-size: 36px;
}